<div class="flex flex-col md:flex-row h-screen">
  <!-- COLONNA SINISTRA: Lista store -->
  <div class="md:w-1/2 w-full md:max-w-[600px] bg-white overflow-y-auto border-r border-gray-200 p-4">
    <h2 class="text-xl font-semibold mb-4">Trova un posto</h2>

    <!-- Qui poi mettiamo componenti dinamici -->
    <!-- <app-store-list></app-store-list> -->
     <div> 
        <h2> ciaoooo</h2>
     </div>
  </div>

  <!-- COLONNA DESTRA: Mappa -->
  <div class="flex-1 relative">
    <app-map-esri class="absolute inset-0" /><app-map-esri></app-map-esri>
  </div>
</div>

